In [61]:
import pandas as pd
# Data stored in a dictionary of name:value pairs
raw = {'make':'kawasaki','year':'2022'}
raw

{'make': 'kawasaki', 'year': '2022'}

In [64]:
# First Test: Inserting with a new column. 
names = raw.keys()
values = raw.values()
pd.DataFrame(columns=names)
#pd.DataFrame.from_dict(raw)

Empty DataFrame
Columns: [make, year]
Index: []

In [62]:
# Let's create a dataframe that has one column
df = pd.DataFrame(columns=['make'])

In [74]:
d = {"make": ['kawasaki'],
     "year": ['2022']}
df = pd.DataFrame(d)
df

       make  year
0  kawasaki  2022

In [76]:
d2 = {"make": ['bmw'],
     "year": ['1978']}
df2 = pd.DataFrame(d2)
df2

  make  year
0  bmw  1978

In [79]:
df

       make  year
0  kawasaki  2022